/* Adicione estas novas classes ao seu arquivo .css */

.filters-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.filter-grid-columns {
  display: flex;
  justify-content: space-between;
  gap: 2rem; /* Espaço maior entre as colunas */
}

.filter-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Espaço entre os campos da coluna */
  flex-basis: 30%; /* Define a largura inicial de cada coluna */
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

label {
  margin-bottom: 0.5rem;
}

/* Os estilos existentes podem ser mantidos, mas as classes de alinhamento
   (`align-left`, `align-center`, `align-right`) não serão mais necessárias
   com esta nova estrutura. */

.filter-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* Estilos para a tabela, se necessário */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

th, td {
  padding: 10px 8px;
  border-bottom: 1px solid var(--cor-borda);
  text-align: left;
}