<div class="list-container">
  <h2>Minhas Transações</h2>

  <div class="list-container">


  <div class="filter-container">
   <div class="form-wrapper glass-card">
    <div class="form-group">
      <label for="dataInicio">De:</label>
      <input type="date" id="dataInicio" [(ngModel)]="filtroDataInicio">
    </div>
    <div class="form-group">
      <label for="dataFim">Até:</label>
      <input type="date" id="dataFim" [(ngModel)]="filtroDataFim">
    </div>
    <button class="btn btn-primary" (click)="aplicarFiltros()">Filtrar</button>
   </div>
  </div>
    <table>
    </table>
  </div>


  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Descrição</th>
        <th>Categoria</th>
        <th>Valor (R$)</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="transacoes.length === 0">
        <td colspan="5">Nenhuma transação encontrada.</td>
      </tr>

      <tr *ngFor="let transacao of transacoes">
        <td>{{ transacao.data | date: 'dd/MM/yyyy' }}</td>
        <td>{{ transacao.descricao }}</td>
        <td>{{ transacao.categoriaNome }}</td>
        <td>{{ transacao.valor | number: '1.2-2' }}</td>
        <td>{{ transacao.tipo}} </td>
        <td>
          <button class="btn btn-secondary" (click)="editarTransacao(transacao)">Editar</button>
          <button class="btn btn-danger" (click)="deletarTransacao(transacao.transacaoID)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination-controls" *ngIf="totalPages > 1">
    <button class="btn" (click)="paginaAnterior()" [disabled]="currentPage === 1">
      Anterior
    </button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button class="btn" (click)="proximaPagina()" [disabled]="currentPage === totalPages">
      Próxima
    </button>
</div>
</div>