<div class="list-container">
  <h2>Minhas Transações</h2>

  <table>
    <thead>
      <tr>
        <th>Data</th>
        <th>Descrição</th>
        <th>Categoria</th>
        <th>Valor (R$)</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="transacoes.length === 0">
        <td colspan="5">Nenhuma transação encontrada.</td>
      </tr>

      <tr *ngFor="let transacao of transacoes">
        <td>{{ transacao.data | date: 'dd/MM/yyyy' }}</td>
        <td>{{ transacao.descricao }}</td>
        <td>{{ transacao.categoriaNome }}</td>
        <td>{{ transacao.valor | number: '1.2-2' }}</td>
        <td>
          <button class="edit-btn" (click)="editarTransacao(transacao)">Editar</button>
          <button class="delete-btn" (click)="deletarTransacao(transacao.transacaoID)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>