.app-layout {
  display: flex;
  min-height: 100vh;
}

.app-sidebar {
  width: 250px; /* Largura fixa para o menu lateral */
  flex-shrink: 0; /* Impede que o menu encolha */
}

.app-content {
  flex-grow: 1; /* Faz a área de conteúdo ocupar o resto do espaço */
  padding: 2rem 3rem;
  overflow-y: auto; /* Adiciona scroll se o conteúdo for grande */
}