:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}


.main-container {
  max-width: 1200px;
  margin: 2rem auto; /* 2rem de margem no topo/baixo, auto nas laterais para centralizar */
  padding: 0 1rem;
}